<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TraderPerspective</title>
        <link rel="stylesheet" href="/navbar.css">
        <link rel="stylesheet" href="/table.css">
        <script type="text/javascript" src="/navBar.js"></script>
    </head>
    <body>
        <%- include("partials/navbar") %>
        <form action="/exerciseDecision" method="post" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <table class="styled-table">
                    <tr>
                        <th>ETH/USDC</th>
                    </tr>
                    <tr>
                        <th>Decision</th>
                        <th>ETH - Debt</th>
                        <th>USDC - Debt</th>
                        <th>ETH User Withdrawal</th>
                        <th>USDC User Withdrawal</th>
                        <th>Eth Deposit</th>
                        <th>USDC Deposit</th>
                        <th>Call Strike Price</th>
                        <th>Put Strike Price</th>
                        <th>Selection</th>
                    </tr>
                    <tr>
                        <td>No Exercise</td>
                        <td><%= notExerciseEthData.depositDebt %></td>
                        <td><%= notExerciseEthData.counterPartyDebt %></td>
                        <td><%= notExerciseEthData.depositAssetWithdrawal %></td>
                        <td><%= notExerciseEthData.counterPartyAssetWithdrawal %></td>
                        <td><%= notExerciseEthData.newDepositAssetAmount %></td>
                        <td><%= notExerciseEthData.newCounterPartyAssetAmount %></td>
                        <td><%= notExerciseEthData.callStrikePrice %></td>
                        <td><%= notExerciseEthData.putStrikePrice %></td>
                        <td><input type="radio" name="ethOption" value="noExercise" /></td>
                    </tr>
                    <tr>
                        <td>Exercise Call</td>
                        <td><%= exerciseCallEthData.depositDebt %></td>
                        <td><%= exerciseCallEthData.counterPartyDebt %></td>
                        <td><%= exerciseCallEthData.depositAssetWithdrawal %></td>
                        <td><%= exerciseCallEthData.counterPartyAssetWithdrawal %></td>
                        <td><%= exerciseCallEthData.newDepositAssetAmount %></td>
                        <td><%= exerciseCallEthData.newCounterPartyAssetAmount %></td>
                        <td><%= exerciseCallEthData.callStrikePrice %></td>
                        <td><%= exerciseCallEthData.putStrikePrice %></td>
                        <td><input type="radio" name="ethOption" value="exerciseCall" /></td>
                    </tr>
                    <tr>
                        <td>Exercise Put</td>
                        <td><%= exercisePutEthData.depositDebt %></td>
                        <td><%= exercisePutEthData.counterPartyDebt %></td>
                        <td><%= exercisePutEthData.depositAssetWithdrawal %></td>
                        <td><%= exercisePutEthData.counterPartyAssetWithdrawal %></td>
                        <td><%= exercisePutEthData.newDepositAssetAmount %></td>
                        <td><%= exercisePutEthData.newCounterPartyAssetAmount %></td>
                        <td><%= exercisePutEthData.callStrikePrice %></td>
                        <td><%= exercisePutEthData.putStrikePrice %></td>
                        <td><input type="radio" name="ethOption" value="exercisePut" /></td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <table class="styled-table">
                    <tr>
                        <th>WBTC/USDC</th>
                    </tr>
                    <tr>
                        <th>Decision</th>
                        <th>WBTC - Debt</th>
                        <th>USDC - Debt</th>
                        <th>WBTC User Withdrawal</th>
                        <th>USDC User Withdrawal</th>
                        <th>WBTC Deposit</th>
                        <th>USDC Deposit</th>
                        <th>Call Strike Price</th>
                        <th>Put Strike Price</th>
                        <th>Selection</th>
                    </tr>
                    <tr>
                        <td>No Exercise</td>
                        <td><%= notExerciseWbtcData.depositDebt %></td>
                        <td><%= notExerciseWbtcData.counterPartyDebt %></td>
                        <td><%= notExerciseWbtcData.depositAssetWithdrawal %></td>
                        <td><%= notExerciseWbtcData.counterPartyAssetWithdrawal %></td>
                        <td><%= notExerciseWbtcData.newDepositAssetAmount %></td>
                        <td><%= notExerciseWbtcData.newCounterPartyAssetAmount %></td>
                        <td><%= notExerciseWbtcData.callStrikePrice %></td>
                        <td><%= notExerciseWbtcData.putStrikePrice %></td>
                        <td><input type="radio" name="wbtcOption" value="noExercise" /></td>
                    </tr>
                    <tr>
                        <td>Exercise Call</td>
                        <td><%= exerciseCallWbtcData.depositDebt %></td>
                        <td><%= exerciseCallWbtcData.counterPartyDebt %></td>
                        <td><%= exerciseCallWbtcData.depositAssetWithdrawal %></td>
                        <td><%= exerciseCallWbtcData.counterPartyAssetWithdrawal %></td>
                        <td><%= exerciseCallWbtcData.newDepositAssetAmount %></td>
                        <td><%= exerciseCallWbtcData.newCounterPartyAssetAmount %></td>
                        <td><%= exerciseCallWbtcData.callStrikePrice %></td>
                        <td><%= exerciseCallWbtcData.putStrikePrice %></td>
                        <td><input type="radio" name="wbtcOption" value="exerciseCall" /></td>
                    </tr>
                    <tr>
                        <td>Exercise Put</td>
                        <td><%= exercisePutWbtcData.depositDebt %></td>
                        <td><%= exercisePutWbtcData.counterPartyDebt %></td>
                        <td><%= exercisePutWbtcData.depositAssetWithdrawal %></td>
                        <td><%= exercisePutWbtcData.counterPartyAssetWithdrawal %></td>
                        <td><%= exercisePutWbtcData.newDepositAssetAmount %></td>
                        <td><%= exercisePutWbtcData.newCounterPartyAssetAmount %></td>
                        <td><%= exercisePutWbtcData.callStrikePrice %></td>
                        <td><%= exercisePutWbtcData.putStrikePrice %></td>
                        <td><input type="radio" name="wbtcOption" value="exercisePut" /></td>
                    </tr>
                </table>
            </div>
            <br>
            <input type="submit" name="exerciseDescision" value="Execute Decision" />
        </form>
    </body>
</html>