<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TraderPerspective</title>
        <style>
            * {
            box-sizing: border-box;
            }

            .row {
            margin-left:-5px;
            margin-right:-5px;
            }
            
            .column {
            float: left;
            width: 50%;
            padding: 5px;
            }

            /* Clearfix (clear floats) */
            .row::after {
            content: "";
            clear: both;
            display: table;
            }

            table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
            }

            th, td {
            text-align: left;
            padding: 16px;
            }

            tr:nth-child(even) {
            background-color: #f2f2f2;
            }
        </style>
    </head>
    <body>
        <h3>
            Initiate Epoch
        </h3>
        <% if (!areOptionParametersSet) { %>

            <form action="/setOptionParameters" method="post", enctype="application/x-www-form-urlencoded">
                <div class="row">
                    <div class="column">
                        <table>
                            <tr>
                                <th>Epoch <%= round - 1 %> (ETH)</th>
                            </tr>
                            <tr>
                                <td>Call Strike</td>
                                <td><input type="number" name="ethCallStrike" /></td>
                            </tr>
                            <tr>
                                <td>Put Strike</td>
                                <td><input type="number" name="ethPutStrike" /></td>
                            </tr>
                            <tr>
                                <td>Call Premium</td>
                                <td><input type="text" name="ethCallPremium" /></td>
                            </tr>
                            <tr>
                                <td>Put Premium</td>
                                <td><input type="text" name="ethPutPremium" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="column">
                        <table>
                            <tr>
                                <th>Predicted For Epoch <%= round %> (ETH)</th>
                            </tr>
                            <tr>
                                <td>Call Strike</td>
                                <td><input type="number" name="predictedEthCallStrike" /></td>
                            </tr>
                            <tr>
                                <td>Put Strike</td>
                                <td><input type="number" name="predictedEthPutStrike" /></td>
                            </tr>
                            <tr>
                                <td>Call Premium</td>
                                <td><input type="text" name="predictedEthCallPremium" /></td>
                            </tr>
                            <tr>
                                <td>Put Premium</td>
                                <td><input type="text" name="predictedEthPutPremium" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <table>
                            <tr>
                                <th>Epoch <%= round - 1 %> (WBTC)</th>
                            </tr>
                            <tr>
                                <td>Call Strike</td>
                                <td><input type="number" name="wbtcCallStrike" /></td>
                            </tr>
                            <tr>
                                <td>Put Strike</td>
                                <td><input type="number" name="wbtcPutStrike" /></td>
                            </tr>
                            <tr>
                                <td>Call Premium</td>
                                <td><input type="text" name="wbtcCallPremium" /></td>
                            </tr>
                            <tr>
                                <td>Put Premium</td>
                                <td><input type="text" name="wbtcPutPremium" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="column">
                        <table>
                            <tr>
                                <th>Predicted For Epoch <%= round %> (WBTC)</th>
                            </tr>
                            <tr>
                                <td>Call Strike</td>
                                <td><input type="number" name="predictedWbtcCallStrike" /></td>
                            </tr>
                            <tr>
                                <td>Put Strike</td>
                                <td><input type="number" name="predictedWbtcPutStrike" /></td>
                            </tr>
                            <tr>
                                <td>Call Premium</td>
                                <td><input type="text" name="predictedWbtcCallPremium" /></td>
                            </tr>
                            <tr>
                                <td>Put Premium</td>
                                <td><input type="text" name="predictedWbtcPutPremium" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <input type="submit" name="launchEpoch" value="Set Epoch Option Data" />
            </form>
        <% } else { %>
            <form action="/setPredictedOptionParameters" method="post", enctype="application/x-www-form-urlencoded">
                <div class="row">
                    <div class="column">
                        <table>
                            <tr>
                                <th>Predicted For Epoch <%= round %> (ETH)</th>
                            </tr>
                            <tr>
                                <td>Call Strike</td>
                                <td><input type="number" name="predictedEthCallStrike" /></td>
                            </tr>
                            <tr>
                                <td>Put Strike</td>
                                <td><input type="number" name="predictedEthPutStrike" /></td>
                            </tr>
                            <tr>
                                <td>Call Premium</td>
                                <td><input type="text" name="predictedEthCallPremium" /></td>
                            </tr>
                            <tr>
                                <td>Put Premium</td>
                                <td><input type="text" name="predictedEthPutPremium" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <table>
                            <tr>
                                <th>Predicted For Epoch <%= round %> (WBTC)</th>
                            </tr>
                            <tr>
                                <td>Call Strike</td>
                                <td><input type="number" name="predictedWbtcCallStrike" /></td>
                            </tr>
                            <tr>
                                <td>Put Strike</td>
                                <td><input type="number" name="predictedWbtcPutStrike" /></td>
                            </tr>
                            <tr>
                                <td>Call Premium</td>
                                <td><input type="text" name="predictedWbtcCallPremium" /></td>
                            </tr>
                            <tr>
                                <td>Put Premium</td>
                                <td><input type="text" name="predictedWbtcPutPremium" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <input type="submit" name="launchEpoch" value="Set Predicted Epoch Option Data" />
            </form>
        <% } %>
        <br>
        <a href="/show/epoch"><button>View Epoch Option Data</button></a>
    </body>
</html>