<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TraderPerspective</title>
        <link rel="stylesheet" href="/navbar.css">
        <link rel="stylesheet" href="/table.css">
        <link rel="stylesheet" href="/button.css">
        <link rel="stylesheet" href="/successText.css">
        <script src="/navbar.js"></script>
        <script src="/moneyMovement.js"></script>
    </head>

    <body>
        <%- include("partials/navbar") %>
        <form action="/moneyMovement" method="post" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <table class="styled-table">
                    <tr>
                        <th>Actual Movement of Money</th>
                    </tr>
                    <tr>
                        <th>Token</th>
                        <th>Queued Liquidity</th>
                        <th>Actual Withdrawal Request</th>
                        <th>Residule(+)/Deficit(-)</th>
                        <th>Movable(+)/Required(-)</th>
                        <th>Selection</th>
                    </tr>
                    <tr>
                        <td>ETH</td>
                        <td><%= ethData.queuedLiquidity %></td>
                        <td><%= ethData.withdrawalRequest %></td>
                        <td class="ethLeftover" data-vault-address="<%= vaultAddress %>"><%= ethData.leftover %></td>
                        <td class="ethRequired" data-vault-address="<%= vaultAddress %>"><%= ethData.required %></td>
                        <td class="ethSelectionData"><input type="checkbox" name="withdrawEth" value="<%= ethGasEstimate %>" /></td>
                    </tr>
                    <tr>
                        <td>WBTC</td>
                        <td><%= wbtcData.queuedLiquidity %></td>
                        <td><%= wbtcData.withdrawalRequest %></td>
                        <td class="wbtcLeftover" data-vault-address="<%= vaultAddress %>"><%= wbtcData.leftover %></td>
                        <td class="wbtcRequired" data-vault-address="<%= vaultAddress %>"><%= wbtcData.required %></td>
                        <td class="wbtcSelectionData"><input type="checkbox" name="withdrawWbtc" value="<%= wbtcGasEstimate %>" /></td>
                    </tr>
                    <tr>
                        <td>USDC</td>
                        <td><%= usdcData.queuedLiquidity %></td>
                        <td><%= usdcData.withdrawalRequest %></td>
                        <td class="usdcLeftover" data-vault-address="<%= vaultAddress %>"><%= usdcData.leftover %></td>
                        <td class="usdcRequired" data-vault-address="<%= vaultAddress %>"><%= usdcData.required %></td>
                        <td class="usdcSelectionData"><input type="checkbox" name="withdrawUsdc" value="<%= usdcGasEstimate %>" /></td>
                    </tr>
                    <tr>
                        <td>Recommended Gas Price (Gwei)</td>
                        <td><%= recommendedGasPrice %></td>
                    </tr>
                    <tr>
                        <td>Set Gas Price (Gwei)</td>
                        <td><input type="text" name="manualGasPrice" value="<%= recommendedGasPrice %>" /></td>
                    </tr>
                    <tr>
                        <td>Cost to Withdraw (ETH)</td>
                        <td class="transactionCost">0</td>
                    </tr>
                </table>
            </div>
            <% if (canWithdraw) { %>
                <input type="submit" class="button" value="Withdraw Assets" />
            <% } %>
            <% if (success !== undefined) { %>
                <% if (success) { %>
                    <p>Withdraw Successful!</p>
                <% } else { %>
                    <p>Error in Withdraw!</p>
                <% } %>
            <% } %>
        </form>
    </body>
</html>