<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TraderPerspective</title>
        <link rel="stylesheet" href="/navbar.css">
        <link rel="stylesheet" href="/table.css">
        <link rel="stylesheet" href="/button.css">
        <link rel="stylesheet" href="/successText.css">
        <script src="/navbar.js"></script>
        <script src="/moneyMovement.js"></script>
        <script src="/setGasPrice.js"></script>
    </head>

    <body>
        <%- include("partials/navbar") %>
        <form action="/moneyMovement" method="post" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <table class="styled-table">
                    <tr>
                        <th>Actual Movement of Money</th>
                    </tr>
                    <tr>
                        <th>Token</th>
                        <th>Queued Liquidity</th>
                        <th>Actual Withdrawal Request</th>
                        <th>Residule(+)/Deficit(-)</th>
                        <th>Movable(+)/Required(-)</th>
                        <th>Withdraw Assets</th>
                    </tr>
                    <tr>
                        <td>ETH</td>
                        <td><%= ethData.queuedLiquidity %></td>
                        <td><%= ethData.withdrawalRequest %></td>
                        <td class="ethLeftover" data-vault-address="<%= vaultAddress %>"><%= ethData.leftover %></td>
                        <td class="ethRequired" data-vault-address="<%= vaultAddress %>"><%= ethData.required %></td>
                        <td rowspan="3" class="selectionData"><input type="checkbox" name="withdrawAssets" value="<%= gasEstimate %>" /></td>
                    </tr>
                    <tr>
                        <td>WBTC</td>
                        <td><%= wbtcData.queuedLiquidity %></td>
                        <td><%= wbtcData.withdrawalRequest %></td>
                        <td class="wbtcLeftover" data-vault-address="<%= vaultAddress %>"><%= wbtcData.leftover %></td>
                        <td class="wbtcRequired" data-vault-address="<%= vaultAddress %>"><%= wbtcData.required %></td>
                    </tr>
                    <tr>
                        <td>USDC</td>
                        <td><%= usdcData.queuedLiquidity %></td>
                        <td><%= usdcData.withdrawalRequest %></td>
                        <td class="usdcLeftover" data-vault-address="<%= vaultAddress %>"><%= usdcData.leftover %></td>
                        <td class="usdcRequired" data-vault-address="<%= vaultAddress %>"><%= usdcData.required %></td>
                    </tr>
                </table>
                <% if (ethData.leftover < 0 || wbtcData.leftover < 0 || usdcData.leftover < 0) { %>
                    <table class="styled-table">
                        <tr>
                            <td>Send funds back to vault: <%= vaultAddress %></td>
                        </tr>
                    </table>
                <% } %>
                <% if (canWithdraw) { %>
                    <%- include("partials/setGasPrice") %>
                    <input type="submit" class="button" value="Withdraw Assets" />
                <% } %>
            </div>

            <% if (success !== undefined) { %>
                <div class="message" data-success="<%= success %>"></div>
            <% } %>
        </form>
    </body>
</html>