<!DOCTYPE html>
<html lang="en">
    <body>
        <h3>Option TVL Data</h3>
        <table id="optionTVLData">
            <tr>
                <th>Option Name</th>
                <th>Active</th>
                <th>Locked</th>
                <th>Pending</th>
                <th>Released</th>
                <th>Released Counter Party</th>
            </tr>
            <% optionTVLData.forEach((option) => { %>
                <tr>
                    <td><%= option.name %></td>
                    <td><%= option.active %></td>
                    <td><%= option.locked %></td>
                    <td><%= option.pending %></td>
                    <td><%= option.released %></td>
                    <td><%= option.releasedCounterParty %></td>
                </tr>
            <% }); %>
        </table>
    </body>
</html>