<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TraderPerspective</title>
        <link rel="stylesheet" href="/navbar.css">
        <link rel="stylesheet" href="/table.css">
        <link rel="stylesheet" href="/button.css">
        <link rel="stylesheet" href="/successText.css">
        <style>
            .temp {
                margin: auto;
                width:50%;
            }
        </style>
        <script src="/navBar.js"></script>
        <script src="/retainFormData.js"></script>
        <script src="/setEpoch.js"></script>
    </head>
    <body>
        <%- include("partials/navbar") %>
        <table class="styled-table">
            <tr>
                <th>Vault</th>
                <th>USD</th>
                <th>Absolute</th>
            </tr>
            <tr>
                <td>ETH-USDC</td>
                <td class="ethValue">todo calc</td>
                <td class="ethBalance" data-eth-price="<%= ethPrice %>"><%= ethBalance %></td>
            </tr>
            <tr>
                <td>USDC-ETH</td>
                <td><%= usdcBalance %></td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>WBTC-USDC</td>
                <td class="wbtcValue">todo calc</td>
                <td class="wbtcBalance" data-wbtc-price="<%= wbtcPrice %>"><%= wbtcBalance %></td>
            </tr>
            <tr>
                <td>USDC-WBTC</td>
                <td><%= usdcBalance %></td>
                <td>N/A</td>
            </tr>
        </table>

        <% if (!areOptionParametersSet) { %>
            <form action="/set/epoch" method="post", enctype="application/x-www-form-urlencoded">
                <div class="column">
                    <table class="styled-table">
                        <tr>
                            <th>Epoch <%= round - 1 %> (ETH)</th>
                        </tr>
                        <tr>
                            <td>Call Strike (USD)</td>
                            <td><input type="number" name="ethCallStrike" /></td>
                        </tr>
                        <tr>
                            <td>Put Strike (USD)</td>
                            <td><input type="number" name="ethPutStrike" /></td>
                        </tr>
                        <tr>
                            <td>Call Premium</td>
                            <td><input type="text" name="ethCallPremium" /></td>
                        </tr>
                        <tr>
                            <td>Put Premium</td>
                            <td><input type="text" name="ethPutPremium" /></td>
                        </tr>
                    </table>
                    <table class="styled-table">
                        <tr>
                            <th>Epoch <%= round - 1 %> (WBTC)</th>
                        </tr>
                        <tr>
                            <td>Call Strike (USD)</td>
                            <td><input type="number" name="wbtcCallStrike" /></td>
                        </tr>
                        <tr>
                            <td>Put Strike (USD)</td>
                            <td><input type="number" name="wbtcPutStrike" /></td>
                        </tr>
                        <tr>
                            <td>Call Premium</td>
                            <td><input type="text" name="wbtcCallPremium" /></td>
                        </tr>
                        <tr>
                            <td>Put Premium</td>
                            <td><input type="text" name="wbtcPutPremium" /></td>
                        </tr>
                    </table>
                    <% if (round - 1 > 0) { %>
                        <table class="styled-table">
                            <tr>
                                <td>Recommended Gas Price (Gwei)</td>
                                <td><%= recommendedGasPrice %></td>
                            </tr>
                            <% if (!transactionMined) { %>
                                <tr>
                                    <td>Minimum Gas Price (Gwei)</td>
                                    <td><%= minimumGasPrice %></td>
                                </tr>
                            <% } %>
                            <tr>
                                <td>Set Gas Price (Gwei)</td>
                                <td><input type="text" name="manualGasPrice" data-gas-estimate="<%= setEpochGasEstimate %>" value="<%= minimumGasPrice %>" /></td>
                            </tr>
                            <tr>
                                <td>Cost to Withdraw (ETH)</td>
                                <td class="transactionCost">0</td>
                            </tr>
                        </table>
                        <input type="submit" class="button" name="launchEpoch" value="Set Epoch Option Data" />
                    <% } %>
                </div>
            </form>
        <% } %>
        <% if (areOptionParametersSet) { %>
            <div style="margin: auto; width: 50%;">
        <% } %>
            <form action="/set/predicted/epoch" method="post" enctype="application/x-www-form-urlencoded">
                <% if (!areOptionParametersSet) { %>
                    <div class="column">
                <% } %>
                    <table class="styled-table">
                        <tr>
                            <th>Predicted For Epoch <%= round %> (ETH)</th>
                        </tr>
                        <tr>
                            <td>Call Strike (USD)</td>
                            <td><input type="number" name="predictedEthCallStrike" value=<%= predictedEthOption.callStrike %> /></td>
                        </tr>
                        <tr>
                            <td>Put Strike (USD)</td>
                            <td><input type="number" name="predictedEthPutStrike" value=<%= predictedEthOption.putStrike %> /></td>
                        </tr>
                        <tr>
                            <td>Call Premium</td>
                            <td><input type="text" name="predictedEthCallPremium" value=<%= predictedEthOption.callPremium %> /></td>
                        </tr>
                        <tr>
                            <td>Put Premium</td>
                            <td><input type="text" name="predictedEthPutPremium" value=<%= predictedEthOption.putPremium %> /></td>
                        </tr>
                    </table>
                    <table class="styled-table">
                        <tr>
                            <th>Predicted For Epoch <%= round %> (WBTC)</th>
                        </tr>
                        <tr>
                            <td>Call Strike (USD)</td>
                            <td><input type="number" name="predictedWbtcCallStrike" value=<%= predictedWbtcOption.callStrike %> /></td>
                        </tr>
                        <tr>
                            <td>Put Strike (USD)</td>
                            <td><input type="number" name="predictedWbtcPutStrike" value=<%= predictedWbtcOption.putStrike %> /></td>
                        </tr>
                        <tr>
                            <td>Call Premium</td>
                            <td><input type="text" name="predictedWbtcCallPremium" value=<%= predictedWbtcOption.callPremium %> /></td>
                        </tr>
                        <tr>
                            <td>Put Premium</td>
                            <td><input type="text" name="predictedWbtcPutPremium" value=<%= predictedWbtcOption.putPremium %> /></td>
                        </tr>
                    </table>
                    <input type="submit" class="button" name="launchEpoch" value="Set Predicted Epoch Option Data" />
                <% if (!areOptionParametersSet) { %>
                    </div>
                <% } %>
                <% if (success !== undefined) { %>
                    <div class="message" data-success="<%= success %>"></div>
                <% } %>
            </form>
        <% if (areOptionParametersSet) { %>
            </div>
        <% } %>
    </body>
</html>