<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TraderPerspective</title>
        <link rel="stylesheet" href="/navbar.css">
        <link rel="stylesheet" href="/table.css">
        <script type="text/javascript" src="/navBar.js"></script>
    </head>
    <body>
        <%- include("partials/navbar") %>

        <!--Table-->
        <div class="row">
            <div class="column">
                <table class="styled-table">
                    <tr>
                        <th>Epoch <%= round - 1 %> (ETH)</th>
                    </tr>
                    <tr>
                        <td>Call Strike (USD)</td>
                        <td><%= ethOption.callStrike %></td>
                    </tr>
                    <tr>
                        <td>Put Strike (USD)</td>
                        <td><%= ethOption.putStrike %></td>
                    </tr>
                    <tr>
                        <td>Call Premium</td>
                        <td><%= ethOption.callPremium %></td>
                    </tr>
                    <tr>
                        <td>Put Premium</td>
                        <td><%= ethOption.putPremium %></td>
                    </tr>
                </table>
            </div>
            <div class="column">
                <table class="styled-table">
                    <tr>
                        <th>Predicted For Epoch <%= round %> (ETH)</th>
                    </tr>
                    <tr>
                        <td>Call Strike (USD)</td>
                        <td><%= predictedEthOption.callStrike %></td>
                    </tr>
                    <tr>
                        <td>Put Strike (USD)</td>
                        <td><%= predictedEthOption.putStrike %></td>
                    </tr>
                    <tr>
                        <td>Call Premium</td>
                        <td><%= predictedEthOption.callPremium %></td>
                    </tr>
                    <tr>
                        <td>Put Premium</td>
                        <td><%= predictedEthOption.putPremium %></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <table class="styled-table">
                    <tr>
                        <th>Epoch <%= round - 1 %> (WBTC)</th>
                    </tr>
                    <tr>
                        <td>Call Strike (USD)</td>
                        <td><%= wbtcOption.callStrike %></td>
                    </tr>
                    <tr>
                        <td>Put Strike (USD)</td>
                        <td><%= wbtcOption.putStrike %></td>
                    </tr>
                    <tr>
                        <td>Call Premium</td>
                        <td><%= wbtcOption.callPremium %></td>
                    </tr>
                    <tr>
                        <td>Put Premium</td>
                        <td><%= wbtcOption.putPremium %></td>
                    </tr>
                </table>
            </div>
            <div class="column">
                <table class="styled-table">
                    <tr>
                        <th>Predicted For Epoch <%= round %> (WBTC)</th>
                    </tr>
                    <tr>
                        <td>Call Strike (USD)</td>
                        <td><%= predictedWbtcOption.callStrike %></td>
                    </tr>
                    <tr>
                        <td>Put Strike (USD)</td>
                        <td><%= predictedWbtcOption.putStrike %></td>
                    </tr>
                    <tr>
                        <td>Call Premium</td>
                        <td><%= predictedWbtcOption.callPremium %></td>
                    </tr>
                    <tr>
                        <td>Put Premium</td>
                        <td><%= predictedWbtcOption.putPremium %></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>